<h1 mat-dialog-title class="title">Agregar Estudiante</h1>
<div mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="save()">
        <mat-form-field appearance="fill" class="spaces">
            <mat-label>Nombre</mat-label>
            <input formControlName="name" matInput>
            <mat-error class="error" *ngIf="errorHandling('name', 'required')">Campo requerido</mat-error>            
            <mat-error class="error" *ngIf="errorHandling('name', 'maxlength')">Hasta 25 caracteres</mat-error>            
        </mat-form-field>

        <mat-form-field appearance="fill" class="spaces">
            <mat-label>Apellido</mat-label>
            <input formControlName="lastname" matInput>
            <mat-error class="error" *ngIf="errorHandling('lastname', 'required')">Campo requerido</mat-error>            
            <mat-error class="error" *ngIf="errorHandling('lastname', 'maxlength')">Hasta 40 caracteres</mat-error>            
        </mat-form-field>

        <mat-form-field appearance="fill" class="spaces">
            <mat-label>Mail</mat-label>
            <input formControlName="email" matInput>
            <mat-error class="error" *ngIf="errorHandling('email', 'required')">Campo requerido</mat-error>            
            <mat-error class="error" *ngIf="errorHandling('email', 'email')">Mail inválido</mat-error>            
        </mat-form-field>
        
        <mat-form-field appearance="fill" class="spaces">
            <mat-label>Promedio</mat-label>
            <input type="number" formControlName="average" matInput>
            <mat-error class="error" *ngIf="errorHandling('average', 'required')">Campo requerido</mat-error>            
            <mat-error class="error" *ngIf="errorHandling('average', 'min')">Mínimo 1</mat-error>            
            <mat-error class="error" *ngIf="errorHandling('average', 'max')">Máximo 10</mat-error>            
        </mat-form-field>
        
        <mat-slide-toggle formControlName="active" class="spaces">Activo</mat-slide-toggle>

        <div align="center" style="padding-top: 15px;">
            <button mat-button class="close" (click)="close()">Cerrar</button>
            <button mat-button class="save">Grabar</button>
        </div>
    </form>
</div>