<div class="container">
    <h2 class="title-page">Alumnos</h2>

    <table mat-table [dataSource]="students$" class="mat-elevation-z8">
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef class="header-table" appCustomDirective>Nombre</th>
            <td mat-cell *matCellDef="let element" class="column-table">{{ element.name | transform: element.name : element.lastname }}</td>
        </ng-container>
    
        <ng-container matColumnDef="promedio">
            <th mat-header-cell *matHeaderCellDef class="header-table" appCustomDirective>Promedio</th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.average }}</td>
        </ng-container>
        
        <ng-container matColumnDef="cursando">
            <th mat-header-cell *matHeaderCellDef class="header-table" appCustomDirective>Cursando</th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">
                <mat-icon *ngIf="element.active" style="color: green;">check_circle</mat-icon>
                <mat-icon *ngIf="!element.active" style="color: red;">remove_circle</mat-icon>
            </td>
        </ng-container>
    
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef class="header-table" appCustomDirective>Acciones</th>
            <td mat-cell *matCellDef="let element" style="text-align: right; padding-left: 15px;">
                <button mat-icon-button (click)="editStudent(element)">
                    <mat-icon style="color: #004a9f;">edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteStudent(element)">
                    <mat-icon style="color: red;">delete</mat-icon>
                </button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>

    <div class="add">
        <button type="button"  class="btn btn-primary" (click)="addStudent()">Agregar Estudiante</button>
    </div>
</div>